<button type="button" class="btn btn-sm btn-dark mb-2" id="{{ name }}-refresh"><i class="fas fa-sync-alt mr-2"></i>Refresh table manually</button>

<div>

<table id="{{ name }}">
<thead>
<tr>
<th>Session</th>
<th>Status</th>
<th>Condition</th>
<th>Last Page</th>
<th>Start</th>
<th>Last Move</th>
<th>Group</th>
<th>Role</th>
</tr>

</thead>


</table>

</div>

<style>
#{{ name }}-refresh {float: right;}
</style>